.invert {
    .svgwrap {
        @include box-sizing(content-box);
        @include transition(all 250ms linear);
        border: 10px solid transparent;  
    }
    &.open{
        background: #000 !important;
        border-color: #000; 
        
        line { 
            stroke: #eee;   
        }
    }
}